@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* Style the sidebar - fixed full height */
.sidebar {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4A96F9;
    overflow-x: hidden;
    padding-top: 16px;
    align-content: center;
    display: flex;
    flex-direction: column;
}

/* Style sidebar links */
.sidebar a {
    padding: 12px 8px 12px 15px;
    text-decoration: none;
    font-size: 35px;
    color: white;
    display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
    color: rgb(80, 80, 80);
}

/* Style the main content */
.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

body {
    background-color: #f6f5f7;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

.box {
    position: absolute;
    width: 40%;
    height: 50%;
    left: 30%;
    top: 20%;
    background-color: #f6f5f7;
    box-shadow: 0px 5px 10px #acafb1;
}



.name {
    padding-left: 50px;
    font-size: 30px;
    position: fixed;
    padding-top: 0px;
    top: 28%;
    left: 40%;
    font-family: 'Montserrat', sans-serif;
    color: #646363;
    letter-spacing: 1px;
}

.emailid {
    padding-left: 50px;
    font-size: 30px;
    position: fixed;
    padding-top: 0px;
    top: 43%;
    left: 40%;
    font-family: 'Montserrat', sans-serif;
    color: #646363;
    letter-spacing: 1px;
}

.teamno {
    padding-left: 50px;
    font-size: 30px;
    position: fixed;
    padding-top: 0px;
    top: 58%;
    left: 50%;
    font-family: 'Montserrat', sans-serif;
    color: #646363;
    letter-spacing: 1px;
}

.round {
    background-color: #4A96F9;
    position: absolute;
    width: 7%;
    height: 13%;
    border-radius: 16em;
    top: 14%;
    left: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roundtxt {
    position: absolute;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.section {
    width: 100%;
    height: 100%;
}

.acc1 {
    position: absolute;
    color: #4A96F9;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    left: 35%;
    top: 28%;
}

.acc2 {
    position: absolute;
    color: #4A96F9;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    left: 35%;
    top: 43%;
}

.acc3 {
    position: absolute;
    color: #4A96F9;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    left: 35%;
    top: 58%;
}
.logout{
    position: absolute;
    color: #4A96F9;
    font-family: 'Montserrat', sans-serif;
    border: none;
    font-weight: bold;
    background-color: #f6f5f7 ;
    font-size: 30px;
    left: 90%;
    top: 3%;
}