@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* Style the sidebar - fixed full height */
.sidebar {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #00B4CC;
    overflow-x: hidden;
    padding-top: 16px;
    align-content: center;
    display: flex;
    flex-direction: column;
}

/* Style sidebar links */
.sidebar a {
    padding: 12px 8px 12px 15px;
    text-decoration: none;
    font-size: 35px;
    color: white;
    display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
    color: rgb(80, 80, 80);
}

/* Style the main content */
.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

body {
    background-color: #f6f5f7;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
    
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.yourteam {
    padding-left: 150px;
    font-size: 30px;
    position: absolute;
    padding-top: 120px;
    font-family: 'Montserrat', sans-serif;
    color: #646363;
    letter-spacing: 1px;
}

.btn {
    background-color: #fff;
    border: none;
    color: rgb(78, 78, 78);
    letter-spacing: 1.5px;
    padding: 15px;
    width: 15%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 20px 20px;
    top: 90px;
    position: absolute;
    right: 55px;
    box-shadow: 2px 2px 5px #aaaaaa;
}

.btn:hover {
    background-color: #b3b2b2;
}

.teamdiv {
    flex-direction: column;
    position: relative;
    width: 320px;
    height: 300px;
    left: 150px;
    top: 20px;
    background-color: white;
    box-shadow: 0px 3px 7px #acafb1;
    margin: 0 6.5em 6.5em 0;



}

.deleteTeam {
    background-color: white;
    position: absolute;
    left: 80%;
    border: 1px solid #ffffff;
    width: 50px;
    height: 30px;
    top: 0px;
    transition: transform 80ms ease-in;

}

.deletebtntxt {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #424242;
    top: 0px;
    
}

.teamnametxt {
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: rgb(105, 104, 104);
    font-weight: bold;
    letter-spacing: 1px;
    left: 40%;
    top: 65%;
    position: absolute;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 2em 0;
}

.buttonteamdiv {
    position: absolute;
    left: 33%;
    top: 30%;
    border: 1px solid #00B4CC;
    background-color: #00B4CC;
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 120px;
    height: 100px;
    transition: transform 80ms ease-in;
}

.buttonteamdiv:hover {
    background-color: #1c8dbd;
}